{% extends "layout.html" %}

{% block page_title %}
  Apply for Universal Credit
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="https://www.gov.uk/browse/benefits">Benefits</a></li>
      <li><a href="https://www.gov.uk/browse/benefits/entitlement">Benefits entitlement</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Apply for Universal Credit
      </h1>

      <p>You can apply for Universal Credit online.</p>

      <p>You might also need to attend an interview at your local Jobcentre Plus. You’ll be told if you need to after you apply.</p>

      <p>You’ll get your first payment around 6 weeks after applying online if your application is successful.</p>

      <div role="note" aria-label="Information" class="application-notice info-notice">
        <p>Find out more about <a href="/universal-credit">Universal Credit</a>.</p>
      </div>

      <p>
        <a class="button button-start" href="vault" role="button">Start now</a>
      </p>

    </div>
  </div>

</main>

{% endblock %}
