{% extends "layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li>{% if serviceName %} {{ serviceName }} {% endif %}</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Find what services you need if you are thinking about moving to the UK or you have just arrived in the UK.</p>

      <p>
        <a class="button button-start" href="nationality" role="button">Start now</a>
      </p>

    </div>
  </div>

</main>

{% endblock %}
